*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(gradient.png);
}
.body{
    background-image: url(gradient\ \(3\).png);
    height: 450px;
    width: 320px;
    margin: 100px auto;
    border: 0.5px solid black;
    border-radius: 8%;
    box-shadow: 2px 4px 50px  gray;
    padding: 20px;
}
.head{
    color: white;
    font-size: 24px;
    text-align: center;
    text-transform:uppercase;
    font-style: normal;
    font-weight: 500;
    font-family: sans-serif;
}
.screen{
    background-color: white;
    color: black;
    height: 10%;
    width: 100%;
    margin: 8px 1px;
    border-radius: 6px;
    margin-bottom: 22px;
    padding: 7px;
    font-weight: 600;
    font-size: 20px;
}
.keypad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.key{
    color: gray;
    background-color: white;
    border-radius: 100%;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    font-size: 20px;
    font-weight: 600;
}
.key:hover{
    cursor: pointer;
}
.screen:hover{
    cursor:text;
}
.blue{
    background-color: #0965c0;
    color: white;
}
.red{
    background-color: #f40752;
    color: white;
}
.key:active{
    transform: scale(0.8);
    transition-duration: 500ms;

}
